:root{
--gris-fondo: rgb(24, 24, 24);
--rojo-medio: #a23232;
--blanco: rgb(255, 255, 255);
--rojo-fuerte: #671c1c;
--rojo-oscuro: #290505;
--sombra-roja: rgba(255, 0, 0, 0.421);
}
/* Modificaciones a nievl general en todas las paginas , puesto que son elementos comunes de todas las paginas */
header {
    margin-top: -80px;
    font-family: "Commodus Greek", sans-serif;
    background-color: var(--rojo-medio);
    color: var(--blanco);
    padding: 10px;
    text-align: center;
    justify-content: center;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.logo {
    background-image: url(recursos/logo.png );
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size:100px 100px;
    transform: translateY(85px);
}



body {
    
    font-family: "Segoe UI", Arial, sans-serif;
    color: var(--texto-principal);
    background-color: var(--gris-fondo);
    margin: 0;
    line-height: 1.6;
    color: var(--blanco);
    
}
footer{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    background-color: var(--rojo-fuerte);
}
/* Menu compartido entre todas las paginas */
.nav-menu ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--rojo-fuerte);
    display: flex;
    justify-content: center;
}

.nav-menu li {
    text-align: center;
    width: 100%;
    margin: 0 0px;
   font-weight: bold;
}
.nav-menu a {
    display: block;
    padding: 12px 18px;
    color: var(--blanco);
    text-decoration: none;
    
}
.nav-menu a:hover {
    background: var(--rojo-oscuro);
    transition: 0.5s;
}
 /* Margenes de las distintas paginas , separadas por si hay que hacer cambios en alguna */
.Inicio {
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 15px;
}
.Juegos {
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 15px;
}
.Detalles{
   margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 15px;  
}
/* video de la pagina principal */
video{
    margin-left: 60px;
}
/* Esta tabla pertenece a la pagina de incicio  */
.tabla-1{
    
    width: auto;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--gris-fondo);
    box-shadow: 0 4px 8px var(--sombra-roja);
    max-width: 1030px;
    margin-left: 60px;
    margin-right: 60px;
    
}

td:hover {
    background-color: rgb(47, 47, 47);
    transition: 0.3s;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
.fila-1{
    background-color: #6a0c0c;
    
}
th:hover{
   background-color: #8d1111; 
   transition: 0.3s;
}
th {
    
    color: rgb(255, 247, 247);
}
/* Imagenes/tarjetas de la pagina de juegos */
.juegos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
    gap: 2rem;
    padding: 1rem 2rem 2rem;
}
.img-juegos{
  background-size: cover;
    
    color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.421);
    display: flex;
    flex-direction: column;
    min-height: 250px;
    min-width: 444px;

    width: auto;
    height: auto;
}
.img-juegos:hover {
    
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px var();
}

.img-juegos :is(h3) {
    color: white;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255)0.411;
    border-radius: 6px
    
}
.img-juegos :is(p) {
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-shadow:  2px 2px 4px black;
    -webkit-text-stroke: 0.5px black;
    border-radius: 6px
    
}
.img-juegos :is(a) {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: red;
    text-shadow:  2px 2px 4px black;
    -webkit-text-stroke: 0.5px black;
    border-radius: 6px
    
}
/* Imagenes de los distintos juegos */
#god-of-war {
 
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.405)),
    url(recursos/god-of-war.jpg);
    
}

#Age-of-Mythology {
  
     background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Age-of-Mythology.jpg)
}

#Hades {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/hades.png)
}

#Titan-Quest {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/TitanQuest.jpg)
}

#Immortals-Fenyx-Rising {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/immortals.jpg)
}

#Assassin’s-Creed-Odyssey {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/assassins.jpg)
}

#Zeus-Master-of-Olympus {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/zeus.jpg)
}

#Kid-Icarus {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Kid-Icarus.jpg)
}

#Apotheon {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Apotheon.jpg)
}

#Smite {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Smite.jpg)
}

#FATE-of-Hellas {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/FATE-of-Hellas.jpg)
}

#NyxQuest-Kindred-Spirits {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/NyxQuest-Kindred-Spirits.jpg)
}

#Theseus {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Theseus.jpg)
}

#Okhlos {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Okhlos.jpg)
}

#Rise-of-the-Argonauts {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Rise-of-the-Argonauts.jpg)
}

#Warriors-Legends-of-Troy {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/warrior.jpg)
}

#Asterigos-Curse-of-the-Stars {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Asterigos-Curse-of-the-Stars.jpg)
}

#Wrath-of-the-Gods {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Wrath-of-the-Gods.jpg)
}

#Mythos-Gods-Unleashed {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Mythos.jpg)
}

#Herculean-The-Legend-of-Hercules {
  
    background-image:  radial-gradient(transparent, rgba(41, 41, 41, 0.57)), url(recursos/Herculean.jpg)
}
